client/Debug
server/Debug

.vs

clientGUI/ClientWPF/obj
clientGUI/ClientWPF/bin/Release
clientGUI/ClientWPF/bin/Debug/logs

serverGUI/ServerWPF/obj
serverGUI/ServerWPF/bin/Release
serverGUI/ServerWPF/bin/Debug/logs

clientGUI_CL
clientGUI_HCI

copy_lib_client.bat
copy_lib_server.bat