#OS junk files
thumbs.db
Thumbs.db
*.DS_Store

#Visual Studio files
*~
*.map
*.exp
*.dll
*.tli
*.obj
*.Obj
*.manifest
*.user
*.*user*
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.Cache
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.tmp
*.opensdf
*.unsuccessfulbuild
*.lastbuildstate
*.VC.db
ipch/
obj/
Obj/
debug/
Debug/
release/
Release/
.vs/

